{% extends "layout.html" %}
 
{% block body %}
<h3>Django Pysql Aws Deneme Sayfası</h3>
<hr>
                <form method = "post" >
                    
                    <p>Lütfen Ad Soyad Giriniz...</p>
                    <p>Entera basınız ya da Yollaya Tıklayınız</p>
<hr>
                    {% csrf_token %}
                        {{form.as_p}}
                    <br>
                    <button type="submit">Yolla...</button>
                       
                </form>
<br>
<hr>


<ul>

{% for p in elma %}

<li>
	{{p.name}} {{p.surname}} ->  Eklendi...
</li>
{% endfor %}
</ul>

<hr>
<p>iletişim demirtaserdem@gmail.com</p>

{% endblock body %}
